@font-face {
    font-family: 'Cabin';
    src: url('../font/Cabin-Regular.eot');
    src: url('../font/Cabin-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/Cabin-Regular.woff') format('woff'),
         url('../font/Cabin-Regular.ttf') format('truetype'),
         url('../font/Cabin-Regular.svg#font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../font/Cabin-Bold.eot');
    src: url('../font/Cabin-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Cabin-Bold.woff') format('woff'),
         url('../font/Cabin-Bold.ttf') format('truetype'),
         url('../font/Cabin-Bold.svg#font') format('svg');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../font/Cabin-SemiBold.eot');
    src: url('../font/Cabin-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../font/Cabin-SemiBold.woff') format('woff'),
         url('../font/Cabin-SemiBold.ttf') format('truetype'),
         url('../font/Cabin-SemiBold.svg#font') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin';
    src: url('../font/Cabin-Italic.eot');
    src: url('../font/Cabin-Italic.eot?#iefix') format('embedded-opentype'),
         url('../font/Cabin-Italic.woff') format('woff'),
         url('../font/Cabin-Italic.ttf') format('truetype'),
         url('../font/Cabin-Italic.svg#font') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cabin';
    src: url('../font/Cabin-BoldItalic.eot');
    src: url('../font/Cabin-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../font/Cabin-BoldItalic.woff') format('woff'),
         url('../font/Cabin-BoldItalic.ttf') format('truetype'),
         url('../font/Cabin-BoldItalic.svg#font') format('svg');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: 'Cabin';
    src: url('../font/Cabin-SemiBoldItalic.eot');
    src: url('../font/Cabin-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../font/Cabin-SemiBoldItalic.woff') format('woff'),
         url('../font/Cabin-SemiBoldItalic.ttf') format('truetype'),
         url('../font/Cabin-SemiBoldItalic.svg#font') format('svg');
    font-weight: bold;
    font-style: italic;
}

html {
	background-color: #222;
	width: 100%;
	height: 100%;
	overflow: none;
}

input:focus {
	outline: none;
}

input[type="text"],
input[type="password"] {
	border-radius: 4px;
	border: 1px solid #222;
	padding: 5px;
	margin: 3px 0px;

	color: #333;
	font-family: Cabin, sans-serif;
	font-weight: bolder;
	font-size: 20px;
	background: #F00;

	background: -moz-linear-gradient(top,  rgba(135,135,135,1) 0%, rgba(165,165,165,1) 99%, rgba(165,165,165,0.63) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,135,135,1)), color-stop(99%,rgba(165,165,165,1)), color-stop(100%,rgba(165,165,165,0.63)));
	background: -webkit-linear-gradient(top,  rgba(135,135,135,1) 0%,rgba(165,165,165,1) 99%,rgba(165,165,165,0.63) 100%);
	background: -o-linear-gradient(top,  rgba(135,135,135,1) 0%,rgba(165,165,165,1) 99%,rgba(165,165,165,0.63) 100%);
	background: -ms-linear-gradient(top,  rgba(135,135,135,1) 0%,rgba(165,165,165,1) 99%,rgba(165,165,165,0.63) 100%);
	background: linear-gradient(to bottom,  rgba(135,135,135,1) 0%,rgba(165,165,165,1) 99%,rgba(165,165,165,0.63) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#a1a5a5a5',GradientType=0 );

	transition: border-radius 0.3s;
	-o-transition: border-radius 0.3s;
	-webkit-transition: border-radius 0.3s;
	-moz-transition: border-radius 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
	border-radius: 8px;
}

.skid-modal input[type="text"],
.skid-modal input[type="password"] {
	width: 100%;
}

@media screen {

	body.skid-modal input[type="checkbox"] {
		display: none;
	}

	body.skid-modal label[data-type="checkbox"] {
		font-family: Cabin, sans-serif;
		font-size: 12px;
		color: #444;
		font-weight: bold;

		position: relative;
		top: 3px;

		transition: color 0.4s;
		-o-transition: color 0.4s;
		-webkit-transition: color 0.4s;
		-moz-transition: color 0.4s;
	}

	body.skid-modal input[type="checkbox"]:checked + label[data-type="checkbox"] {
		color: #232323;
	}

	body.skid-modal input[type="checkbox"] + label:before {
		content: "- ";
	}

	body.skid-modal input[type="checkbox"]:checked + label:before {
		content: '-> ';
	}
}

body.skid-modal {
	position: relative;
	top: 15%;
	display: block;
	width: 300px;
	margin: auto;
}

body.skid-modal > img {
	width: 200px;
	display: block;
	margin: auto;
	padding: 10px 0px;
}

body.skid-modal > div {
	background-color: #555;
	display: block;
	padding: 15px 9px;
	border-radius: 4px;
}

@media screen {
	body#skid-login label[for="username"],
	body#skid-login label[for="password"] {
		display: none;
	}
}